In [1]:
import pandas as pd 
import pandasql as ps

In [2]:
netflix_dataset = pd.read_csv("netflixdata.csv")
print(netflix_dataset.shape)

(7787, 12)

In [3]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,None,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,None,Nasty C,None,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,None,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,None,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

**Client asked to pull all the Movies made in 2015.**

In [4]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df
    WHERE type = 'Movie'  AND
          release_year = 2015

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s26,Movie,(T)ERROR,"Lyric R. Cabral, David Felix Sutcliffe",None,United States,"June 30, 2016",2015,NR,84 min,Documentaries,This real-life look at FBI counterterrorism op...
1,s41,Movie,Çarsi Pazar,Muharrem Gülmez,"Erdem Yener, Ayhan Taş, Emin Olcay, Muharrem G...",Turkey,"March 10, 2017",2015,TV-14,97 min,"Comedies, International Movies",The slacker owner of a public bath house ralli...
2,s63,Movie,13 Cameras,Victor Zarcoff,"PJ McCabe, Brianne Moncrief, Sarah Baldwin, Ji...",United States,"August 13, 2016",2015,NR,90 min,"Horror Movies, Independent Movies, Thrillers",Young parents-to-be Claire and Ryan move into ...
3,s82,Movie,2015 Dream Concert,None,"4Minute, B1A4, BtoB, ELSIE, EXID, EXO, Got7, I...",South Korea,"April 28, 2017",2015,TV-PG,107 min,"International Movies, Music & Musicals",The world's biggest K-pop festival marked its ...
4,s99,Movie,3 Generations,Gaby Dellal,"Elle Fanning, Naomi Watts, Susan Sarandon, Tat...",United States,"August 28, 2017",2015,PG-13,92 min,"Dramas, LGBTQ Movies",When teenage Ray begins transitioning from fem...
...,...,...,...,...,...,...,...,...,...,...,...,...
377,s7717,Movie,Yoko and His Friends,None,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
378,s7727,Movie,You Carry Me,Ivona Juka,"Lana Baric, Vojislav Brajovic, Natasa Janjic, ...","Croatia, Slovenia, Serbia, Montenegro","July 1, 2016",2015,TV-MA,157 min,"Dramas, International Movies","A soap opera producer, director and makeup art..."
379,s7733,Movie,You're My Boss,Antoinette Jadaone,"Toni Gonzaga, Coco Martin, Freddie Webb, JM de...",Philippines,"September 4, 2020",2015,TV-14,117 min,"Comedies, International Movies, Romantic Movies","Pong, a corporate assistant, poses as his comp..."
380,s7771,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
381,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

**Client asked the title of all TV Shows that are made in India after 2016**

In [5]:
ps.sqldf("""

    SELECT title FROM netflix_dataset as df
    WHERE country = 'India' AND
    release_year > 2015    

""")

                           title
0                            706
1                         15-Aug
2           ​​Kuch Bheege Alfaaz
3                   ​Goli Soda 2
4             ​Maj Rati ​​Keteki
..                           ...
415                   Yeh Ballet
416              Yeh Meri Family
417  Yours Sincerely, Kanan Gill
418                         Zero
419                          Zoo

[420 rows x 1 columns]

**Client asked all Movies with the TV rating of R that was made in US**

In [6]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df
    WHERE rating = 'R' AND
    country = 'United States'

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
1,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",2019,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...
2,s66,Movie,13 Sins,Daniel Stamm,"Mark Webber, Rutina Wesley, Devon Graye, Tom B...",United States,"January 13, 2019",2014,R,93 min,"Horror Movies, Thrillers",A man agrees to appear on a game show with a $...
3,s84,Movie,20th Century Women,Mike Mills,"Annette Bening, Elle Fanning, Greta Gerwig, Lu...",United States,"June 28, 2019",2016,R,119 min,"Dramas, Independent Movies","In 1979, single bohemian mom Dorothea, hoping ..."
4,s85,Movie,21 & Over,"Jon Lucas, Scott Moore","Miles Teller, Skylar Astin, Justin Chon, Sarah...",United States,"April 16, 2019",2013,R,93 min,Comedies,Jeff's straight-and-narrow life changes abrupt...
...,...,...,...,...,...,...,...,...,...,...,...,...
359,s7711,Movie,"Yes, God, Yes",Karen Maine,"Natalia Dyer, Timothy Simons, Wolfgang Novogra...",United States,"October 22, 2020",2020,R,78 min,"Comedies, Dramas, Independent Movies",A devoutly religious teen grapples with her ow...
360,s7737,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...
361,s7759,Movie,Zack and Miri Make a Porno,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States,"October 1, 2018",2008,R,101 min,"Comedies, Independent Movies, Romantic Movies",Zack and Miri make and star in an adult film t...
362,s7775,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
363,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...

**Client asked for cast of Movie= 21 & over and the genre of the Movie**

In [7]:
ps.sqldf("""

    SELECT df.title, df.cast, df.listed_in FROM netflix_dataset as df
    WHERE title = '21 & Over'

""")

       title                                               cast listed_in
0  21 & Over  Miles Teller, Skylar Astin, Justin Chon, Sarah...  Comedies

**Client asked to pull all the Movies/ TV show made by the director of the above movie.**

In [8]:
ps.sqldf("""

    SELECT * from netflix_dataset as df
    WHERE df.director IN(

        SELECT df.director FROM netflix_dataset as df
        WHERE df.title = '21 & Over'

    )

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s85,Movie,21 & Over,"Jon Lucas, Scott Moore","Miles Teller, Skylar Astin, Justin Chon, Sarah...",United States,"April 16, 2019",2013,R,93 min,Comedies,Jeff's straight-and-narrow life changes abrupt...
1,s149,Movie,A Bad Moms Christmas,"Jon Lucas, Scott Moore","Mila Kunis, Kristen Bell, Kathryn Hahn, Susan ...","United States, China","February 14, 2020",2017,R,104 min,Comedies,"Stressed-out moms Amy, Carla and Kiki are back..."

**Client asked for 10 latest shows/movies that was added.**

In [9]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df
    ORDER BY date_added DESC
    LIMIT 10

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1218,Movie,Cargo,Arati Kadav,"Vikrant Massey, Shweta Tripathi, Nandu Madhav,...",India,"September 9, 2020",2020,TV-14,113 min,"Comedies, Dramas, Independent Movies",Aboard a spaceship where souls of the deceased...
1,s1560,Movie,Cuties,Maïmouna Doucouré,"Fathia Youssouf, Médina El Aidi-Azouni, Esther...",France,"September 9, 2020",2020,TV-MA,96 min,"Dramas, International Movies",Eleven-year-old Amy starts to rebel against he...
2,s2386,TV Show,Get Organized with The Home Edit,None,None,United States,"September 9, 2020",2020,TV-PG,1 Season,Reality TV,Expert home organizers Clea and Joanna help ce...
3,s3497,TV Show,La Línea: Shadow of Narco,Pepe Mora,None,Spain,"September 9, 2020",2020,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","A stone's throw from Africa, the Spanish beach..."
4,s5686,Movie,So Much Love to Give,Marcos Carnevale,"Adrián Suar, Soledad Villamil, Gabriela Toscan...",Argentina,"September 9, 2020",2020,TV-14,108 min,"Comedies, International Movies, Music & Musicals",Fernando is a family man — equally committed t...
5,s6884,Movie,The Social Dilemma,Jeff Orlowski,"Skyler Gisondo, Kara Hayward, Vincent Kartheiser",United States,"September 9, 2020",2020,PG-13,94 min,Documentaries,This documentary-drama hybrid explores the dan...
6,s4510,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
7,s5587,TV Show,Show Me the Money,None,"Afdlin Shauki, Patrick Teoh, Mano Maniam, Rash...",None,"September 9, 2018",2004,TV-14,2 Seasons,"International TV Shows, TV Comedies",Four ordinary family members find their lives ...
8,s3122,Movie,Jandino: Whatever it Takes,None,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
9,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."

**Client asked for all Indian movies that start with the letter 'S' and released after 2018.**

In [10]:
ps.sqldf("""

    SELECT df.title, df.release_year FROM netflix_dataset as df
    WHERE type = 'Movie'  AND
    country = 'India' AND
    title LIKE 'S%'  AND
    release_year > 2018
    ORDER BY release_year DESC

""")

                title  release_year
0         Serious Men          2020
1  SETHUM AAYIRAM PON          2020
2       Shimla Mirchi          2020
3               Saaho          2019
4              Saavat          2019
5       Seven (Tamil)          2019
6    Sillu Karuppatti          2019
7        Super Deluxe          2019
8          Sur Sapata          2019

**Client asked for the movie with the description 'A scrappy but poor boy worms his way into...' Display only the movie name and the release year**

In [11]:
ps.sqldf("""

    SELECT df.title, df.release_year FROM netflix_dataset as df
    WHERE description LIKE 'A scrappy but poor boy worms his way into%' 

""")

    title  release_year
0  Zubaan          2015

**Client asked me to list 10 earliest Si-fi, international Movies**

In [12]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df
    WHERE listed_in LIKE '%Sci-Fi%' AND
    listed_in LIKE '%International Movies%'
    ORDER BY release_year ASC
    LIMIT 10

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s392,Movie,Alibaba Aur 40 Chor,"Latif Faiziyev, Umesh Mehra","Dharmendra, Hema Malini, Zeenat Aman, Rolan By...","Soviet Union, India","January 15, 2018",1980,TV-14,147 min,"Action & Adventure, International Movies, Sci-...",A simple village man is thrown into a web of p...
1,s1268,Movie,Chamatkar,Rajiv Mehra,"Shah Rukh Khan, Naseeruddin Shah, Urmila Maton...",India,"May 15, 2017",1992,TV-14,164 min,"Comedies, International Movies, Sci-Fi & Fantasy",A village schoolteacher and the ghost of a mur...
2,s6628,Movie,The Mad Monk,Johnny To,"Stephen Chow, Maggie Cheung, Anthony Wong Chau...",Hong Kong,"August 16, 2018",1993,TV-14,85 min,"Comedies, International Movies, Sci-Fi & Fantasy","To avoid punishment for his misdeeds, an arrog..."
3,s3482,Movie,Kyo Kii... Main Jhuth Nahin Bolta,David Dhawan,"Govinda, Mohnish Bahl, Sharad Kapoor, Satish K...",India,"May 16, 2019",2001,TV-PG,150 min,"Comedies, International Movies, Sci-Fi & Fantasy",The life and career of a lawyer are thrown int...
4,s1973,Movie,Elephants Dream 4 Hour,Bassam Kurdali,"Cas Jansen, Tygo Gernandt",Netherlands,"August 23, 2018",2006,TV-MA,196 min,"International Movies, Sci-Fi & Fantasy","Friends Proog and Emo live in a capricious, se..."
5,s4750,Movie,Pan's Labyrinth,Guillermo del Toro,"Ivana Baquero, Sergi López, Maribel Verdú, Dou...","Mexico, Spain","January 1, 2020",2006,R,119 min,"Dramas, International Movies, Sci-Fi & Fantasy",Young Ofelia meets a mythical faun who claims ...
6,s6071,Movie,The Aerial,Esteban Sapir,"Rafael Ferro, Sol Moreno, Jonathan Sandor, Ale...",Argentina,"April 1, 2018",2007,TV-MA,99 min,"Dramas, International Movies, Sci-Fi & Fantasy","In the City Without a Voice, only faceless sin..."
7,s1784,Movie,District 9,Neill Blomkamp,"Sharlto Copley, Jason Cope, David James, Vanes...","South Africa, United States, New Zealand, Canada","November 4, 2019",2009,R,112 min,"Action & Adventure, International Movies, Sci-...","After years of segregation and forced labor, a..."
8,s4064,Movie,Mi Shivajiraje Bhosale Boltoy,Santosh Manjrekar,"Sachin Khedekar, Mahesh Manjrekar, Makarand An...",India,"January 1, 2018",2009,TV-14,148 min,"Comedies, International Movies, Sci-Fi & Fantasy",After a disgruntled man blames his Marathi her...
9,s5701,Movie,Solomon Kane,Michael J. Bassett,"James Purefoy, Pete Postlethwaite, Rachel Hurd...","Czech Republic, United Kingdom, France","February 15, 2018",2009,R,104 min,"Action & Adventure, International Movies, Sci-...","In this epic tale, a once-murderous sea captai..."

**Client asked me to list all the movies or tv shows that were added on November 2019**

In [13]:
ps.sqldf("""

    SELECT * FROM netflix_dataset as df
    WHERE date_added LIKE 'November%' AND
    date_added LIKE '%2019'
    ORDER BY date_added

""")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
1,s59,TV Show,100% Hotter,None,"Daniel Palmer, Melissa Sophia, Karen Williams,...",United Kingdom,"November 1, 2019",2017,TV-14,1 Season,"British TV Shows, International TV Shows, Real...","A stylist, a hair designer and a makeup artist..."
2,s72,Movie,16 Blocks,Richard Donner,"Bruce Willis, Mos Def, David Morse, Jenna Ster...","United States, Germany","November 1, 2019",2006,PG-13,102 min,Action & Adventure,Tasked with escorting a prosecution witness to...
3,s220,Movie,A Remarkable Tale,Marina Seresesky,"Carmen Machi, Pepón Nieto, Kiti Mánver, Jon Ko...",Spain,"November 1, 2019",2019,TV-MA,94 min,"Comedies, International Movies",The residents of an isolated town look to revi...
4,s257,TV Show,A Year In Space,None,Scott Kelly,United States,"November 1, 2019",2015,TV-PG,1 Season,"Docuseries, International TV Shows, Science & ...",Two astronauts attempt to brave a life in Eart...
...,...,...,...,...,...,...,...,...,...,...,...,...
265,s2756,Movie,Hit & Run,"David Palmer, Dax Shepard","Kristen Bell, Dax Shepard, Kristin Chenoweth, ...",United States,"November 8, 2019",2012,R,100 min,"Action & Adventure, Comedies, Romantic Movies",Determined to get his fiancée to L.A. to take ...
266,s3608,Movie,Let It Snow,Luke Snellin,"Isabela Moner, Shameik Moore, Kiernan Shipka, ...",United States,"November 8, 2019",2019,PG-13,93 min,"Comedies, Dramas, LGBTQ Movies",A snowstorm hits a small town on a cold Christ...
267,s4762,Movie,Paradise Beach,Xavier Durringer,"Sami Bouajila, Tewfik Jallab, Mélanie Doutey, ...",France,"November 8, 2019",2019,TV-MA,94 min,"Action & Adventure, Dramas, International Movies","Mehdi gets out of prison, planning to settle o..."
268,s7621,TV Show,Wild District,None,"Juan Pablo Raba, Cristina Umaña, Camila Sodi, ...",Colombia,"November 8, 2019",2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...","After surrendering to Bogotá police, an ex-gue..."
269,s3677,TV Show,Little Things,None,"Dhruv Sehgal, Mithila Palkar",India,"November 9, 2019",2019,TV-MA,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",A cohabiting couple in their 20s navigate the ...

**Client asked the list of latest Horror Movies and where they where made**

In [14]:
ps.sqldf("""

    SELECT df.title, df.country FROM netflix_dataset as df
    WHERE listed_in LIKE '%Horror Movie%'
    ORDER BY release_year DESC
    LIMIT 10

""")

           title                  country
0         #Alive              South Korea
1   Andhaghaaram                     None
2    Andhakaaram                    India
3        Bulbbul                    India
4        Cadaver                   Norway
5    Dark Forces                   Mexico
6    Death of Me  United States, Thailand
7   Don’t Listen                    Spain
8  Ghost Stories                    India
9  Ghosts of War           United Kingdom

**Thank your for viewing this project till the end.**

**Follow me on LinkedIn** > https://www.linkedin.com/in/wokeshubham

**Follow me on Github** > https://www.github.com/wokeshubham

**Follow me on Twitter** > https://www.twitter.com/wokeshubham